<!DOCTYPE html>

<html>
  <head>
    <title>ПКПСИБ</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="blob"></div>
      <div class="card">
        <h1>
          Прогнозирование количества преступлений в сфере информационной
          безопасности
        </h1>
        <form action="/predict" id="prediction-form" method="post">
          <label for="male_population">Численность мужского населения:</label>
          <input
            id="male_population"
            name="male_population"
            placeholder="Введите численность мужского населения"
            type="text"
            value="50000"
          /><br />
          <label for="female_population">Численность женского населения:</label>
          <input
            id="female_population"
            name="female_population"
            placeholder="Введите численность женского населения"
            type="text"
            value="55000"
          /><br />
          <label for="number_of_unemployed_population"
            >Количество безработного населения:</label
          >
          <input
            id="number_of_unemployed_population"
            name="number_of_unemployed_population"
            placeholder="Введите количество безработного населения"
            type="text"
            value="7500"
          /><br />
          <label for="population_mortality_rate"
            >Уровень смертности населения:</label
          >
          <input
            id="population_mortality_rate"
            name="population_mortality_rate"
            placeholder="Введите уровень смертности населения"
            type="text"
            value="0.5"
          /><br />
          <label for="average_labor_payment">Средняя заработная плата:</label>
          <input
            id="average_labor_payment"
            name="average_labor_payment"
            placeholder="Введите среднюю заработную плату"
            type="text"
            value="50000"
          /><br />
          <label for="crime_IT_rate"
            >Процент разгаданных преступлений в IT:</label
          >
          <input
            id="crime_IT_rate"
            name="crime_IT_rate"
            placeholder="Введите процент разгаданных преступлений в IT"
            type="text"
            value="80"
          /><br />
          <label for="users_attack">Количество атак пользователей:</label>
          <input
            id="users_attack"
            name="users_attack"
            placeholder="Введите количество атак пользователей"
            type="text"
            value="2000"
          /><br />
          <label for="inflation_rate">Уровень инфляции:</label>
          <input
            id="inflation_rate"
            name="inflation_rate"
            placeholder="Введите уровень инфляции"
            type="text"
            value="3.5"
          /><br />
          <label for="standard_of_living">Уровень жизни:</label>
          <input
            id="standard_of_living"
            name="standard_of_living"
            placeholder="Введите уровень жизни"
            type="text"
            value="7.5"
          /><br />
          <label for="population_digitization_level"
            >Уровень цифровизации населения:</label
          >
          <input
            id="population_digitization_level"
            name="population_digitization_level"
            placeholder="Введите уровень цифровизации населения"
            type="text"
            value="80"
          /><br />
          <label for="number_of_companies_in_the_information_technology_sector"
            >Число компаний в секторе информационных технологий:</label
          >
          <input
            id="number_of_companies_in_the_information_technology_sector"
            name="number_of_companies_in_the_information_technology_sector"
            placeholder="Введите число компаний в секторе информационных технологий"
            type="text"
            value="50"
          /><br />
          <label for="number_of_population_educated_in_IT"
            >Число образованного населения в IT:</label
          >
          <input
            id="number_of_population_educated_in_IT"
            name="number_of_population_educated_in_IT"
            placeholder="Введите число образованного населения в IT"
            type="text"
            value="5000"
          /><br />
          <label for="number_of_known_hacking_communities"
            >Число известных хакерских сообществ:</label
          >
          <input
            id="number_of_known_hacking_communities"
            name="number_of_known_hacking_communities"
            placeholder="Введите число известных хакерских сообществ"
            type="text"
            value="10"
          /><br />
          <label for="number_of_investments_in_cybersecurity_sector"
            >Число инвестиций в сектор кибербезопасности:</label
          >
          <input
            id="number_of_investments_in_cybersecurity_sector"
            name="number_of_investments_in_cybersecurity_sector"
            placeholder="Введите число инвестиций в сектор кибербезопасности"
            type="text"
            value="100000"
          /><br />
          <button type="button">Прогнозирование</button>
        </form>
        <div class="resultback">
          <div>Результат прогнозирования:</div>
          <div class="result" id="prediction-result"></div>
        </div>
      </div> 
      <script src="../static/post.js"></script>
    </div>
  </body>
</html>
